@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

ul, li {
  margin: 0;
  padding: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.heading{
  background-color: #baebd757;
  width: fit-content;
  font-size: clamp(0.875rem, 0.4286rem + 1.4286vw, 1.5rem);
  box-shadow: 5px 5px 15px 5px #cbcaca;
  padding: 0.5rem;
}

.number-list li{
  list-style:decimal;
}

.list{
  background-color: #f3d4be53;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: min(247px, 100%);
}
pre > code {
  font-size: 1rem;
}

.card {
  padding: 2em;
}


.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

li, ul{
  list-style: none;
}

.task3{
  background-color: #cccefa63;
  width: fit-content;
  padding: 15px;
}

.movie-name{
  padding-bottom: 10px;
}


.no-show{
  display: none;
}

.delete-item{
  cursor: pointer;
}

